/****************************************************************************
    IE9
****************************************************************************/
.ie8 #sidebar {width: 300px; }
.ie8 .right_content, .portfolio-nav { width: 600px;}

.ie8 .nav-wrapper nav > ul > li > a {padding: 10px 10px;}
.ie8 .srch input[type="text"] {  width: 82%;}
.ie8 .top-menu ul li a { padding: 0 9px; }
.ie8 .social-nav {width: 74%;}
.ie8 .crousal-btn .prev {left: 1px;}.crousal-btn .next { right: 0px;}
.ie8 .heading { background: url(../Images/header-border.png) no-repeat -114px 24px;}
.ie8 .hv-2 { background: url(../Images/Heading-border.png) no-repeat -78px 24px !important;}

.ie8 .hotdeal ul li article .hot { width: 66px;  }.hotdeal ul li article { width: 140px; }
.ie8 .hotdeal ul li article .hot p { font-size: 10px; text-transform: none; }
.ie8 .booking_form .total a {padding: 13px 21px;}


.ie8 .travel_lest .offer figure { width: 30%; float: left; height: 186px; }
.ie8 .travel_lest .offer figure a {display: block;}
.ie8 .travel_lest .offer figure img{height: 100%;}
.ie8 .travel_lest article { width: 47.45%; float: left; text-align: left; padding: 5px 25px; position: relative; }
.ie8 .travel_lest .offer .price { width: 14.2%; float: right;height: 182px; }
.ie8 .travel_lest .offer .price h3 { line-height: 130px; margin: 0px; text-align: center;}
.ie8 .travel_lest .offer article h3 { color: #017eba; text-transform: uppercase; margin-bottom: -4px; }
.ie8 .travel_lest .offer article div { text-align: center; position: absolute; top: 20px; right: 25px; }
.ie8 .travel_lest .offer article div p { margin-bottom: -7px; }
.ie8 .travel_lest .offer article > p { font: 14px 'proxima_nova_rgregular', sans-serif; color: #515252; line-height: 24px; margin-bottom: 36px; }
.ie8 .travel_lest .offer .price a {width: 85px; top: 100%;margin-top: -49px;}

.ie8 .right_content .travel_lest  .offer {width: 600px;}
.ie8 .right_content .offer {width: 180px;}
.ie8 .offer article h3 {font-size: 18px;}
.ie8 .right_content .offer article h3 {font-size: 24px; margin-bottom: 5px;}
.ie8 .offer .price h3 {margin-left: 20px;}

.ie8 .adress_wrap {height: 300px;}
.ie8 .adress_wrap img { height: 100%;}
/****************************************************************************
    IE9
****************************************************************************/

.ie9 #sidebar {width: 300px; }
.ie9 .right_content, .portfolio-nav { width: 600px;}

.ie9 .nav-wrapper nav > ul > li > a {padding: 10px 10px;}
.ie9 .srch input[type="text"] {  width: 82%;}
.ie9 .top-menu ul li a { padding: 0 9px; }
.ie9 .social-nav {width: 74%;}
.ie9 .crousal-btn .prev {left: 1px;}.crousal-btn .next { right: 0px;}
.ie9 .heading { background: url(../Images/header-border.png) no-repeat -114px 24px;}
.ie9 .hv-2 { background: url(../Images/Heading-border.png) no-repeat -78px 24px !important;}

.ie9 .hotdeal ul li article .hot { width: 66px;  }.hotdeal ul li article { width: 140px; }
.ie9 .hotdeal ul li article .hot p { font-size: 10px; text-transform: none; }
.ie9 .booking_form .total a {padding: 13px 21px;}


.ie9 .travel_lest .offer figure { width: 30%; float: left; height: 186px; }
.ie9 .travel_lest .offer figure a {display: block;}
.ie9 .travel_lest .offer figure img{height: 100%;}
.ie9 .travel_lest article { width: 47.45%; float: left; text-align: left; padding: 5px 25px; position: relative; }
.ie9 .travel_lest .offer .price { width: 14.2%; float: right;height: 182px; }
.ie9 .travel_lest .offer .price h3 { line-height: 130px; margin: 0px; text-align: center;}
.ie9 .travel_lest .offer article h3 { color: #017eba; text-transform: uppercase; margin-bottom: -4px; }
.ie9 .travel_lest .offer article div { text-align: center; position: absolute; top: 20px; right: 25px; }
.ie9 .travel_lest .offer article div p { margin-bottom: -7px; }
.ie9 .travel_lest .offer article > p { font: 14px 'proxima_nova_rgregular', sans-serif; color: #515252; line-height: 24px; margin-bottom: 36px; }
.ie9 .travel_lest .offer .price a {width: 85px; top: 100%;margin-top: -49px;}

.ie9 .right_content .travel_lest  .offer {width: 600px;}
.ie9 .right_content .offer {width: 180px;}
.ie9 .offer article h3 {font-size: 18px;}
.ie9 .right_content .offer article h3 {font-size: 24px; margin-bottom: 5px;}
.ie9 .offer .price h3 {margin-left: 20px;}

.ie9 .adress_wrap {height: 300px;}
.ie9 .adress_wrap img { height: 100%;}


/****************************************************************************
    IE10
****************************************************************************/
.ie10 #sidebar {width: 300px; }
.ie10 .right_content, .portfolio-nav { width: 600px;}

.ie10 .nav-wrapper nav > ul > li > a {padding: 10px 10px;}
.ie10 .srch input[type="text"] {  width: 82%;}
.ie10 .top-menu ul li a { padding: 0 9px; }
.ie10 .social-nav {width: 74%;}
.ie10 .crousal-btn .prev {left: 1px;}.crousal-btn .next { right: 0px;}
.ie10 .heading { background: url(../Images/header-border.png) no-repeat -114px 24px;}
.ie10 .hv-2 { background: url(../Images/Heading-border.png) no-repeat -78px 24px !important;}

.ie10 .hotdeal ul li article .hot { width: 66px;  }.hotdeal ul li article { width: 140px; }
.ie10 .hotdeal ul li article .hot p { font-size: 10px; text-transform: none; }
.ie10 .booking_form .total a {padding: 13px 21px;}


.ie10 .travel_lest .offer figure { width: 30%; float: left; height: 186px; }
.ie10 .travel_lest .offer figure a {display: block;}
.ie10 .travel_lest .offer figure img{height: 100%;}
.ie10 .travel_lest article { width: 47.45%; float: left; text-align: left; padding: 5px 25px; position: relative; }
.ie10 .travel_lest .offer .price { width: 14.2%; float: right;height: 182px; }
.ie10 .travel_lest .offer .price h3 { line-height: 130px; margin: 0px; text-align: center;}
.ie10 .travel_lest .offer article h3 { color: #017eba; text-transform: uppercase; margin-bottom: -4px; }
.ie10 .travel_lest .offer article div { text-align: center; position: absolute; top: 20px; right: 25px; }
.ie10 .travel_lest .offer article div p { margin-bottom: -7px; }
.ie10 .travel_lest .offer article > p { font: 14px 'proxima_nova_rgregular', sans-serif; color: #515252; line-height: 24px; margin-bottom: 36px; }
.ie10 .travel_lest .offer .price a {width: 85px; top: 100%;margin-top: -49px;}

.ie10 .right_content .travel_lest  .offer {width: 600px;}
.ie10 .right_content .offer {width: 180px;}
.ie10 .offer article h3 {font-size: 18px;}
.ie10 .right_content .offer article h3 {font-size: 24px; margin-bottom: 5px;}
.ie10 .offer .price h3 {margin-left: 20px;}

.ie10 .adress_wrap {height: 300px;}
.ie10 .adress_wrap img { height: 100%;}